<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="<%= TentStatus.settings[:name] %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <% if TentStatus.settings[:icon_url_base] %>
      <link rel="apple-touch-icon" sizes="57x57"   href="<%= TentStatus.settings[:icon_url_base] %>/appicon57.png" />
      <link rel="apple-touch-icon" sizes="72x72"   href="<%= TentStatus.settings[:icon_url_base] %>/appicon72.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="<%= TentStatus.settings[:icon_url_base] %>/appicon114.png" />
      <link rel="shortcut icon"                    href="<%= TentStatus.settings[:icon_url_base] %>/favicon.png" />
    <% end %>

    <link rel="stylesheet" type="text/css" href="<%= asset_path("icing.css") %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset_path("application.css") %>" />

    <title><%= TentStatus.settings[:name] %></title>
  </head>

  <body>
    <div class='v-navbar-fixed-left'>
      <%= erb :global_nav %>
    </div>

    <div id='main-nav'>
      <a class="menu-switch js-menu-switch">Menu</a>
      <%= erb :nav %>
    </div>

    <div id='main-container' class='container'>
      <% unless block_given? %>
        <div id='loading-indicator' class='pulse'>&nbsp;</div>
        <div id='author-info'>
        </div>
      <% end %>

      <div id='main' class='pull-left'>
        <% if block_given? %>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <% unless block_given? %>
      <script type='application/javascript' src='<%= asset_path('lodash.js') %>'></script>
      <script type='application/javascript' src='<%= asset_path('marbles.js') %>'></script>
      <script type='application/javascript' src='<%= asset_path('application.js') %>'></script>
    <% end %>
  </body>
</html>
