<ul class="unstyled app-nav-list">
  <a href="<%= full_path('/') %>" class='<%= nav_selected_class('/') %>'>
    <li>
      <i class="icon-list"></i>Timeline
    </li>
  </a>

  <a href="<%= full_path('/replies') %>" class='<%= nav_selected_class('/replies') %>'>
    <li>
      <i class="icon-pushpin"></i>Replies <span data-view="RepliesUnreadCount"></span>
    </li>
  </a>

  <a href="<%= full_path('/reposts') %>" class='<%= nav_selected_class('/reposts') %>'>
    <li>
      <i class="icon-retweet"></i>Reposts <span data-view="RepostsUnreadCount"></span>
    </li>
  </a>

  <a href="<%= full_path('/profile') %>" class='<%= nav_selected_class('/profile') %>'>
    <li>
      <i class="icon-user"></i>Profile
    </li>
  </a>

  <a href="<%= full_path('/site-feed') %>" class='<%= nav_selected_class('/site-feed') %>'>
    <li>
      <i class="icon-globe"></i>Site Feed
    </li>
  </a>
</ul>
