<ul class="unstyled app-nav-list" data-view="AppNavigation NavigationActive" data-active-class="active" data-active-selector="a">
  <a href="<%= full_path('/') %>" data-match-url="/">
    <li>
      <i class="icon-list"></i>Timeline
    </li>
  </a>

  <a href="<%= full_path('/replies') %>" data-match-url="/replies">
    <li class='count-badge-container'>
      <i class="icon-pushpin"></i>Replies <span data-view="RepliesUnreadCount" class='badge badge-important hidden count-badge'></span>
    </li>
  </a>

  <a href="<%= full_path('/reposts') %>" data-match-url="/reposts">
    <li class='count-badge-container'>
      <i class="icon-retweet"></i>Reposts <span data-view="RepostsUnreadCount" class='badge hidden count-badge'></span>
    </li>
  </a>

  <a href="<%= full_path('/profile') %>" data-match-url="/profile">
    <li>
      <i class="icon-user"></i>Profile
    </li>
  </a>

  <a href="<%= full_path('/site-feed') %>" data-match-url="/site-feed">
    <li>
      <i class="icon-globe"></i>Site Feed
    </li>
  </a>
</ul>
