<!DOCTYPE html>
<html>
  <head>
    <link href="<%= domain_tent_api_root %>/profile" rel="https://tent.io/rels/profile" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="<%= app_title %>" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://dr49qsqhb5y4j.cloudfront.net/appicon57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://dr49qsqhb5y4j.cloudfront.net/appicon72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://dr49qsqhb5y4j.cloudfront.net/appicon114.png" />

    <link rel="stylesheet" type="text/css" href="<%= asset_path("application.css") %>" />
    <link rel="shortcut icon" href="http://dr49qsqhb5y4j.cloudfront.net/favicon.png" />

    <title><%= app_title %></title>
  </head>

  <body>
    <div class='v-navbar-fixed-left'>
      <div class='v-navbar-inner'>
        <ul class='unstyled'>
          <li>
            <a href='https://tent.is'><div class='icon'>&nbsp;</div></a>
          </li>

          <li class='search'>
            <a href="https://skate.io"><div class='icon'>&nbsp;</div></a>
          </li>

          <li>
            <a href='<%= full_path('/admin') %>'><div class='settings'>&nbsp;</div></a>
          </li>
        </ul>
      </div>
    </div>

    <div id='main-nav'>
      <%= erb :nav %>
    </div>

    <div class='h-navbar-fixed-top'>
      <div class='h-navbar-inner'>
      </div>
    </div>

    <div id='main-container' class='container-fluid'>
      <% if in_application? %>
        <div id='loading-indicator' class='pulse'>&nbsp;</div>
      <% end %>

      <div class='row'>
        <div id='main' class='pull-left'>
          <%= yield if block_given? %>
        </div>

        <div id='author-info'>
        </div>
      </div>
    </div>

    <% if in_application? %>
      <%= erb :config %>
      <script type='application/javascript' src="<%= asset_path("application.js") %>"></script>

      <iframe id='iframe-cache' src='<%= full_path('/iframe-cache') %>'></iframe>
    <% end %>
  </body>
</html>
