<!DOCTYPE html>
<html>
  <head>
    <link href="<%= domain_tent_api_root %>/profile" rel="https://tent.io/rels/profile" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="<%= app_title %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://dr49qsqhb5y4j.cloudfront.net/appicon57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://dr49qsqhb5y4j.cloudfront.net/appicon72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://dr49qsqhb5y4j.cloudfront.net/appicon114.png" />

    <link rel="stylesheet" type="text/css" href="<%= asset_path("application.css") %>" />
    <link rel="shortcut icon" href="https://dr49qsqhb5y4j.cloudfront.net/favicon.png" />

    <title><%= app_title %></title>
  </head>

  <body>
    <div class='v-navbar-fixed-left'>
      <ul class='unstyled custom-container'>
        <li class='<%= app_nav_selected_class('*', :except => { :subdomain => 'app' }) %>'>
          <a href='<%= current_entity %>'><div class='nav-icon app-icon-tentstatus icon-2x'></div></a>
        </li>

        <li class='<%= app_nav_selected_class('/search', :subdomain => 'app') %>'>
          <a href="<%= tent_host_scheme %>app.<%= tent_host_domain %>/search" title='Search'><div class='nav-icon app-icon-search icon-2x'></div></a>
        </li>

        <li class='<%= app_nav_selected_class('/global', :subdomain => 'app') %>'>
          <a href='<%= tent_host_scheme %>app.<%= tent_host_domain %>/global' title='Site Feed'><div class='nav-icon app-icon-sitefeed icon-2x'></div></a>
        </li>

        <% if client_app_config[:authenticated] %>
          <li>
            <a href='<%= current_entity.to_s + '/admin' %>' title='Admin'><div class='nav-icon app-icon-settings icon-2x'></div></a>
          </li>

          <li>
            <a href='<%= full_path('/signout') %>' title='Signout'><div class='nav-icon app-icon-signout icon-2x'></div></a>
          </li>
        <% else %>
          <li>
            <a href='<%= tent_host_scheme + tent_host_domain %>/login' title='Signin'><div class='nav-icon app-icon-signin icon-2x'></div></a>
          </li>
        <% end %>
      </ul>
    </div>

    <div id='main-nav'>
      <%= erb :nav %>
    </div>

    <div id='main-container' class='container'>
      <% if in_application? %>
        <div id='loading-indicator' class='pulse'>&nbsp;</div>
      <% end %>

      <div id='main' class='pull-left'>
        <%= yield if block_given? %>
      </div>

      <div id='author-info'>
      </div>
    </div>

    <% if in_application? %>
      <%= erb :config %>
      <script type='application/javascript' src="<%= asset_path("application.js") %>"></script>

      <iframe id='iframe-cache' src='<%= full_path('/iframe-cache') %>'></iframe>
    <% end %>
  </body>
</html>
