<!DOCTYPE html>
<html>
  <head>
    <link href="<%= tent_api_root %>/profile" rel="https://tent.io/rels/profile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="<%= app_title %>" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="<%= asset_path("application.css") %>" />
    <link rel="shortcut icon" href="http://dr49qsqhb5y4j.cloudfront.net/favicon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://dr49qsqhb5y4j.cloudfront.net/appicon57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://dr49qsqhb5y4j.cloudfront.net/appicon72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://dr49qsqhb5y4j.cloudfront.net/appicon114.png" />
    <title><%= app_title %></title>
  </head>

  <body>
    <div id='main-nav' class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <% if tent_host_domain %>
          <%= erb :hosted_nav %>
        <% else %>
          <%= erb :standalone_nav %>
        <% end %>
      </div>
    </div>

    <div id='main-container' class='container-fluid'>
      <div id='nav-right' class='span3 mobile-hide'>
        <ul class='unstyled clearfix'>
          <% if current_user || guest_user %>
            <li class='scale <%= nav_selected_class('/') %>'>
              <a href="<%= (current_user || guest_user).entity %>">My Feed</a>
            </li>
          <% end %>
          <li class='scale <%= nav_selected_class('/global') %>'>
            <a href="https://app.<%= tent_host_domain %>/global">Site Feed</a>
          </li>
          <% if current_user || guest_user %>
            <li class="<%= nav_selected_class('/profile') %>">
              <a href="<%= full_url('/profile') %>">Profile</a>
            </li>
            <li class="<%= nav_selected_class('/mentions') %>">
              <a href="<%= full_url('/mentions') %>">Mentions</a>&nbsp;
            </li>
            <li class="<%= nav_selected_class('/followers') %>">
              <a href="<%= full_url('/followers') %>"><span id='num_followers'></span> Followers</a>
            </li>
            <li class="<%= nav_selected_class('/followings') %>">
              <a href="<%= full_url('/followings') %>"><span id='num_followings'></span> Following</a>
            </li>
            <li>
              <a href="<%= full_url('/admin') %>">Account</a>
            </li>
            <li>
              <a href="<%= full_url('/signout') %>">Signout</a>
            </li>
          <% end %>
          <li class='footer'>
            <%= erb :footer %>
          </li>
        </ul>
      </div>

      <% if in_application? %>
        <div id='loading-indicator' class='pulse'>&nbsp;</div>
      <% end %>

      <div id='main' class='span8'>
        <%= yield if block_given? %>
      </div>
    </div>

    <% if in_application? %>
      <%= erb :config %>
      <script type='application/javascript' src="<%= asset_path("boot.js") %>"></script>
    <% end %>
  </body>
</html>
