<!DOCTYPE html>
<html>
  <head>
    <link href="<%= tent_api_root %>/profile" rel="https://tent.io/rels/profile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="<%= app_title %>" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="<%= asset_path("application.css") %>" />
    <% if custom_background_image %>
      <style type='text/css'>
        body {
          background-image: url(<%= custom_background_image %>);
        }
      </style>
    <% end %>
    <link rel="shortcut icon" href="http://dr49qsqhb5y4j.cloudfront.net/favicon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://dr49qsqhb5y4j.cloudfront.net/appicon57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://dr49qsqhb5y4j.cloudfront.net/appicon72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://dr49qsqhb5y4j.cloudfront.net/appicon114.png" />
    <title><%= app_title %></title>
  </head>

  <body>
    <div id='main-nav' class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <%= erb :nav %>
      </div>
    </div>

    <div id='main-container' class='container-fluid'>
      <% if in_application? %>
        <div id='loading-indicator' class='pulse'>&nbsp;</div>
      <% end %>

      <div id='main' class='span8'>
        <%= yield if block_given? %>
      </div>
    </div>

    <% if in_application? %>
      <%= erb :config %>
      <script type='application/javascript' src="<%= asset_path("application.js") %>"></script>

      <iframe id='iframe-cache' src='<%= full_path('/iframe-cache') %>'></iframe>
    <% end %>
  </body>
</html>
