<ul class='unstyled'>
  <li><a href='https://tent.io'>About</a></li>
  <li class='disc'><a href='https://<%= tent_host_domain %>/partners'>Partners</a></li>
  <li class='disc'><a href='mailto:contact@<%= tent_host_domain %>'>Contact</a></li>
  <li><a href='https://<%= tent_host_domain %>/terms'>Terms</a></li>
  <li class='disc'><a href='https://<%= tent_host_domain %>/privacy'>Privacy</a>&nbsp;&nbsp;</li>
  <li class='disc'><a href='https://<%= tent_host_domain %>/security'>Security</a></li>
  <li class='copyright'><span>&copy; 2012 Apollic Software, LLC</span></li>
</ul>
