<h1 class="brand">TentStatus</h1>
<a class="menu-switch js-menu-switch">Menu</a>
<ul class='unstyled app-nav-list'>
  <% if current_user || guest_user %>
    <% if tent_host_domain %>
      <a href="<%= username_entity %>" class='<%= nav_selected_class('/') %> timeline'>
    <% else %>
      <a href="<%= full_path('/') %>" class='<%= nav_selected_class('/') %> timeline'>
    <% end %>
      <li>
        <i class="icon-list"></i>Timeline
      </li>
    </a>
    <a href="<%= full_url('/mentions') %>" class="<%= nav_selected_class('/mentions') %> mentions">
      <li>
        <i class="icon-pushpin"></i>Mentions <span data-view="MentionsUnreadCount"></span>
      </li>
    </a>
    <a href="<%= full_url('/profile') %>" class="<%= nav_selected_class('/profile') %> profile">
      <li>
        <i class="icon-user"></i>Profile
      </li>
    </a>
  <% end %>
</ul>
