<ul class='unstyled'>
  <% if current_user || guest_user %>
    <li class='<%= nav_selected_class('/') %> timeline'>
      <% if tent_host_domain %>
        <a href="<%= username_entity %>"><div class='icon'>&nbsp;</div>Timeline</a>
      <% else %>
        <a href="<%= full_path('/') %>"><div class='icon'>&nbsp;</div>Timeline</a>
      <% end %>
    </li>
    <li class="<%= nav_selected_class('/mentions') %> mentions">
      <a href="<%= full_url('/mentions') %>"><div class='icon'>&nbsp;</div>Mentions</a>
    </li>
    <li class="<%= nav_selected_class('/profile') %> profile">
      <a href="<%= full_url('/profile') %>"><div class='icon'>&nbsp;</div>Profile</a>
    </li>
  <% end %>

  <% if tent_host_domain %>
    <li class='<%= nav_selected_class('/global') %> site_feed'>
      <a href="https://app.<%= tent_host_domain %>/global"><div class='icon'>&nbsp;</div>Site Feed</a>
    </li>
  <% end %>

  <li class='search'>
    <a href="https://skate.io"><div class='icon'>&nbsp;</div>Search</a>
  </li>
</ul>
