<div class='brand'>
  <% if current_user || guest_user %>
    <div id='user-menu' class='dropdown'>
      <img src='' class='avatar' />
      <i class='caret'></i>

      <ul class='menu'>
        <li class="<%= nav_selected_class('/profile') %>">
          <a href="<%= full_url('/profile') %>">Profile</a>
        </li>
        <li class="<%= nav_selected_class('/followers') %>">
          <a href="<%= full_url('/followers') %>"><span id='num_followers'></span> Followers</a>
        </li>
        <li class="<%= nav_selected_class('/followings') %>">
          <a href="<%= full_url('/followings') %>"><span id='num_followings'></span> Following</a>
        </li>
        <% if tent_host_domain %>
          <li>
            <a href="<%= full_url('/admin') %>">Account</a>
          </li>
          <li>
            <a href='https://<%= tent_host_domain %>'>About</a>
          </li>
        <% else %>
          <li>
            <a href='https://tent.io'>About</a>
          </li>
        <% end %>
        <li>
          <a href="<%= full_url('/signout') %>">Signout</a>
        </li>
      </ul>
    </div>
  <% else %>
    <a class='title' href="https://<%= tent_host_domain %>"><%= app_title %></a>
  <% end %>
</div>

<ul class='nav main'>
  <% if current_user || guest_user %>
    <li class='<%= nav_selected_class('/') %>'>
      <a href="<%= (current_user || guest_user).entity %>">My Feed</a>
    </li>
    <li class="<%= nav_selected_class('/mentions') %>">
      <a href="<%= full_url('/mentions') %>">Mentions</a>
    </li>
  <% else %>
    <% if tent_host_domain %>
      <li>
        <a href="https://<%= tent_host_domain %>/login">Signin</a>
      </li>
    <% else %>
      <li>
        <a href="<%= full_url('/login') %>">Signin</a>
      </li>
    <% end %>
  <% end %>
  <% if tent_host_domain %>
    <li class='<%= nav_selected_class('/global') %> mobile-hide'>
      <a href="https://app.<%= tent_host_domain %>/global">Site Feed</a>
    </li>
  <% end %>
</ul>

<% if current_user || guest_user %>
  <ul class='nav nav-icon pull-right'>
    <li>
      <i id='new_post_button' class='ticon-compose'></i>
      <div id='new_post_popdown' class='popover bottom'>
        <div class='arrow'>&nbsp;</div>
        <div class='popover-content'>
          <div data-view='NewPostForm'></div>
        </div>
      </div>
    </li>
  </ul>
<% end %>
