<ul id='menu-toggle' class='nav scale nav-icon'>
  <li><i class='ticon-menu_open'></i></li>
</ul>

<div class='brand'>
  <% if current_entity %>
    <%= user_brand %>
  <% else %>
    <a href="<%= self_url_root %>"><%= app_title %></a>
  <% end %>
</div>

<ul class='nav main'>
  <% if current_user || guest_user %>
    <li class='<%= nav_selected_class('/') %>'>
      <a href="<%= self_url_root %>">My Feed</a>
    </li>
  <% end %>
</ul>

<% if current_user || guest_user %>
  <ul class='nav nav-icon pull-right'>
    <li>
      <i id='new_post_button' class='ticon-compose'></i>
      <div id='new_post_popdown' class='popover bottom'>
        <div class='arrow'>&nbsp;</div>
        <div class='popover-content'>
          <div data-view='NewPostForm'></div>
        </div>
      </div>
    </li>
  </ul>
<% end %>
